USE [master]
GO
/****** Object:  Database [Summer-School-MVC]    Script Date: 7/12/2016 10:59:20 AM ******/
CREATE DATABASE [Summer-School-MVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Summer-School-MVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Summer-School-MVC.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Summer-School-MVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Summer-School-MVC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Summer-School-MVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Summer-School-MVC]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7/12/2016 10:59:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EnrollmentFee] [money] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_FirstName]  DEFAULT (N'No Name Given') FOR [FirstName]
GO
USE [master]
GO
